.container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  @media (max-width: 1080px) {
    grid-template-columns: auto auto;
  }

  @media (max-width: 980px) {
    grid-template-columns: 1fr;
  }
}
